{% extends 'HeticPublicBundle::layout.html.twig' %}

 {% block body %}
     <h3>Formulaire de devis de construction</h3>

     <div class="row">
         <div class="col-md-6 col-lg-6">
             {{ form_start(form) }}
             {{ form_errors(form) }}

             {{ form_label(form.nom) }}
             {{ form_widget(form.nom) }}
             {{ form_errors(form.nom) }}
             {{ form_row(form.description) }}
             {{ form_row(form.email) }}
             {{ form_row(form.tel) }}
             {{ form_row(form.type) }}
             {{ form_row(form.type) }}
             {{ form_row(form.url) }}
             {{ form_rest(form) }}

             {{ form_end(form) }}
         </div>
     </div>


 {% endblock %}
